body {
  min-height: 640px;
  font-family: Comic Sans MS, Comic Sans, Chalkboard, Helvetica, Arial, sans-serif;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.bg {
  background-color: rgba(255, 255, 204, .5);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  width: 550px;
  height: 640px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -275px;
  margin-top: -320px;
}
.doge-image {
  width: 550px;
  height: 550px;
  background: url(img/doge/doge-regular.png);
  background-repeat: no-repeat;
  background-attachment: center center;
  background-size: 550px 550px;
}
#all-weather {
  height: 90px;
  position: relative;
  top: -100px;
  text-align: center;
}
#weather-desc {
  font-size: 30px;
  color: #33D6FF;
  text-transform: lowercase;
}
#identifiers {
  visibility: hidden;
}
#location {
  color: #ff3399;
}
.t {
  color: #30FFD6;
  display: inline-block;
}
.suchlikes {
  display: block;
  padding: 10px;
}
.much-like {
  display: inline-block;
  padding: 5px;
}
.ourinfo {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 10px 10px 0;
  color: #ffffe6;
  font-weight: 100px;
  font-size: 10px;
  letter-spacing: 1px;
  text-align: right;
}
.ourinfo p {
  margin: 0;
  padding: 0;
}
.ourinfo a {
  text-decoration: none;
  color: #FFFF99;
  font-weight: bold;
}
.ourinfo a:hover {
  color: #FF3399;
}

.ourinfo p {
  margin: 0;
  padding: 0;
}
.exit {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 10px 10px 0;
  letter-spacing: 1px;
  text-align: left;
}
.exit a {
  text-decoration: none;
  color: #BD3612;
  font-size: 35px;
  font-weight: bold;
}
.exit a:hover {
  color: #D01B24;
}

#dogecoinbox {
  cursor: pointer;
}

#coinclick {
  color: #FFFF99;
  cursor: pointer;
  font-weight: bold;
}

#coinclick:hover {
  color: #FF3399;
}

#coinaddress {
  display: none;
  clear: both;
}